# app specific stuff
docs
ngdocs
dist
.tmp
.sass-cache
coverage
app/bower_components
report
*.sw*
captures/*
.DS_Store
styleguide
# TODO Don't track generates CSS from LESS
app/styles/app.css
app/styles/app.css.map
# Allow the option to use a local protractor conf
test/protractor.conf.local.js
test/protractor.conf.e2e.local.js
# Allow to put service account logins into e2e tests
test/secrets.js

# node stuff
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

# Common mac files:
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
*.sublime-workspace

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VIM stuff
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
