<!doctype html>
<html ng-app="encoreApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Encore</title>

        <base href="/encoreApp/">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/application.css -->
        <link rel="stylesheet" href="application.css">
        <!-- endbuild -->
    </head>
    <body>
        <!-- Add your site or application content here -->
        <rx-app>
            <rx-page>
                <div ng-controller="demoCtrl as demo">
                    <div class="pull-left" style="margin: 1rem; max-width: 60%">
                        <h1 class="title xl" style="margin-top: 0;">List Users</h1>
                        <rx-button default-msg="Refresh List" classes="full-width" ng-click="demo.fetchUsers()">Refresh List</rx-button>
                        <table class="table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name (getName())</th>
                                    <th>First</th>
                                    <th>Last</th>
                                    <th>Lazy</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in demo.users">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.getName() }}</td>
                                    <td>{{ user.first }}</td>
                                    <td>{{ user.last }}</td>
                                    <td>
                                        <i ng-if="user.lazy" class="fa fa-eye-slash" />Yes</i>
                                        <i ng-if="!user.lazy" class="fa fa-eye" />No</i>
                                    </td>
                                    <td>
                                        <rx-action-menu id="globalDismissal">
                                            <ul class="actions-area">
                                                <li>
                                                    <rx-button
                                                            ng-click="demo.getUser(user)"
                                                            default-msg="Edit User From Instance"
                                                            classes="xs full-width positive">
                                                    </rx-button>
                                                </li>
                                                <li>
                                                    <rx-button
                                                            ng-click="user.toggleLazy()"
                                                            default-msg="Toggle Instance Laziness"
                                                            classes="xs full-width ">
                                                    </rx-button>
                                                </li>
                                                <li>
                                                    <rx-button
                                                            ng-click="demo.toggleLazy(user)"
                                                            toggle-msg="Updating Server"
                                                            default-msg="Persist & Toggle Laziness"
                                                            classes="xs full-width negative">
                                                    </rx-button>
                                                </li>
                                            </ul>
                                        </rx-action-menu>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-left" style="margin: 1rem; width: 40%">
                        <form rx-form class="form full-width" ng-if="demo.editUser.id">
                            <h1 class="title xl" style="margin-top: 0; white-space: normal">Edit User {{ demo.editUser.getName() }}</h1>
                            <rx-form-section>
                                <rx-field>
                                    <rx-field-name>First Name</rx-field-name>
                                    <rx-field-content>
                                        <rx-input>
                                            <input type="text" ng-model="demo.editUser.first" />
                                        </rx-input>
                                    </rx-field-content>

                                    <rx-field-name>Last Name</rx-field-name>
                                    <rx-field-content>
                                        <rx-input>
                                            <input type="text" ng-model="demo.editUser.last" />
                                        </rx-input>
                                    </rx-field-content>

                                    <rx-field-name>Lazy?</rx-field-name>
                                    <rx-field-content>
                                        <rx-toggle-switch
                                            ng-model="demo.editUser.lazy"
                                        </rx-toggle-switch>
                                    </rx-field-content>

                                    <rx-button
                                            ng-click="demo.saveUser(demo.editUser)"
                                            toggle-msg="Updating User"
                                            default-msg="Update User"
                                            classes="positive full-width">
                                    </rx-button>
                                </rx-field>
                            </rx-form-section>
                        </form>
                        <form rx-form class="form full-width" ng-if="!demo.editUser.id">
                            <h1 class="title xl" style="margin-top: 0;">Create a User</h1>
                            <rx-form-section>
                                <rx-field>
                                    <rx-field-name>First Name</rx-field-name>
                                    <rx-field-content>
                                        <rx-input>
                                            <input type="text" ng-model="demo.formUser.first" />
                                        </rx-input>
                                    </rx-field-content>

                                    <rx-field-name>Last Name</rx-field-name>
                                    <rx-field-content>
                                        <rx-input>
                                            <input type="text" ng-model="demo.formUser.last" />
                                        </rx-input>
                                    </rx-field-content>

                                    <rx-field-name>Lazy?</rx-field-name>
                                    <rx-field-content>
                                        <rx-toggle-switch
                                            ng-model="demo.formUser.lazy"
                                        </rx-toggle-switch>
                                    </rx-field-content>

                                    <rx-button
                                            ng-click="demo.saveUser(demo.formUser)"
                                            toggle-msg="Creating User"
                                            default-msg="Create User"
                                            classes="positive full-width">
                                    </rx-button>
                                </rx-field>
                            </rx-form-section>
                        </form>
                        <form rx-form class="form full-width">
                            <rx-form-section>
                                <rx-field>
                                    <rx-field-name>Edit By User ID</rx-field-name>
                                    <rx-field-content>
                                        <rx-input>
                                            <input type="text" ng-model="editUserID" />
                                        </rx-input>
                                    </rx-field-content>
                                    <rx-button
                                            ng-click="demo.getUser(editUserID)"
                                            toggle-msg="Finding User"
                                            default-msg="Find User"
                                            classes="positive full-width">
                                    </rx-button>
                                </rx-field>
                            </rx-form-section>
                        </form>
                    </div>
                </div>
            </rx-page>
        </rx-app>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/application.js -->
        <script src="src/app.js"></script>
        <script src="templates.js"></script>
        <!-- inject:js -->
        <!-- endinject -->
        <!-- endbuild -->
    </body>
</html>
